mat-card{
    background-color:#ffffff;;
    width: 20%;
    margin: 40px auto auto auto;
    .title{
        width: fit-content;
        margin: auto auto 30px;
        font-weight: bold;
    }
    mat-form-field{
        display: block;
    }
    button{
        display: block;
        margin: auto;
    }
    .sync{
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }
    
}


/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}